<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Login{% endblock %}

    {% block content %}
    <div class="form">
        <form action="{{ url_for('login') }}" method="post">
            <h1>Digite seus dados</h1>
            <label for="nome">Nome</label>
            <input type="text", name="nome", placeholder="Digite seu nome de usuario">
            <label for="senha">Senha</label>
            <input type="password", name="senha", placeholder="Digite sua senha">
            <button name="login">Entrar</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>