<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p>Obrigado por votar {{ nome }}</p>
    {% if genero != None %}
        <p>Resultado: {{ genero }}</p>
    {% else %}
        <p>Cadastre um gênero na página de início</p>
    {% endif %}
    <button><a href="{{ url_for('index') }}">Voltar para página de início</a></button>
</body>
</html>