<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')  }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                {%block titulo %}{% endblock %}
                <a href="{{ url_for('index') }}">Início</a>
                {% if 'logout' in session %}
                    <a href="{{ url_for('tarefas') }}">Tarefas</a>
                    <a href="{{ url_for('logout') }}"></a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('cadastro') }}">Cadastro</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>